<div class="header">
  <h2 class="logo"><img class="logopic" src="../assets/student.png">Kim Santiago</h2>
</div>

<div class="tabs">
  <mat-tab-group class="navlinks" mat-align-tabs="center">
    <mat-tab label="Portfolio"> 
      <div>
        <ul class="personal">
          <li><mat-icon>person</mat-icon></li>
          <li><a>Kim Wilbert Guades Santiago</a></li>

          <li><mat-icon> home</mat-icon></li>
          <li><a>Calbayog City, Samar, Philippines</a></li>

          <li><mat-icon>school</mat-icon></li>
          <li><a>3rd Year BSIT Student</a></li>
          <li><p>Hobbies</p></li>
        </ul>
        <ul class=hobby> 
          <li><mat-icon> directions_bike</mat-icon></li>
          <li><mat-icon> local_see</mat-icon></li>
        </ul>
        </div>
    </mat-tab>
    <mat-tab label="Gallery">
      <h3>My Landscape Photography</h3>
      <div class="gallery">
        <mat-grid-list cols="2" rowHeight="1:1">
          <mat-grid-tile><img src="../assets/sea1.jpg"></mat-grid-tile>
          <mat-grid-tile><img src="../assets/sea3.jpg"></mat-grid-tile>
          <mat-grid-tile><img src="../assets/sunset1.jpg"></mat-grid-tile>
          <mat-grid-tile><img src="../assets/sunset3.jpg"></mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-tab>
    <mat-tab label="Contact">
      <div>
        <ul class="contact">
          <li><mat-icon> call</mat-icon></li>
          <li><a>09457825625</a></li>
          <li><mat-icon> email</mat-icon></li>
          <li><a>kimsantiago0727@gmail.com</a></li>
        </ul>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

